ul(class= blockname + '__messages')
	each message in messages
		li(class= blockname + '__message')
			if message.name 
				span(class= blockname + '__message_name')= message.name + ': '
			else 
				span(class= blockname + '__message_noname') Гость: 
			if message.text
				span(class= blockname + '__message_text')= message.text
			else
				span(class= blockname + 'message_placeholder') промолчал...