.chat {
	max-height: calc(100% - 10rem);
	background-color: white;
	overflow-y: auto;
	padding: 1rem;
	box-shadow: rgba(0,0,0,0.2) 0 3px 4px;
	transition: all 0.3s ease-out;
	position: relative;
	z-index:1;
}

.chat:hover {
	box-shadow: rgba(0,0,0,0.2) 0 9px 24px;
	z-index: 4;
}

.chat__messages {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat__message {
	padding: 0.5rem;
}

.chat__message_nickname {
	color: teal;
}

.chat__message_text {}